<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery карусель</title>
    <link rel="stylesheet" href="css/style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/jquery.slider.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <script type="text/template" id="carousel_template">
  <div class="carousel">
       <div class="carousel-arrow-left"><span><img src="img/arrow_left.png" alt="Влево"></span></div>
        <div class="carousel-hider">
            <ul class="carousel-list">
                <% for (var i=0; i<images.length; ++i) { %>
                <li class="carousel-element">
                    <img src="<%= images[i].src %>" alt="">
                    <p><%= images[i].description %></p>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="carousel-arrow-right"><span><img src="img/arrow_right.png" alt="Вправо"></span></div>
        </div>
    </script>
</body>
</html>